# OPENAI_API_KEY=
# OPENAI_CHAT_MODEL=gpt-4o-mini
# OPENAI_EMBEDDING_MODEL=text-embedding-3-small
FRONTEND_ORIGIN=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
CHROMA_DIR=.chroma
ALLOW_WHISPER_FALLBACK=true

NVIDIA_API_KEY=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
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1
NVIDIA_MODEL=google/gemma-3n-e4b-it
NVIDIA_EMBEDDING_MODEL=nvidia/nv-embedqa-e5-v5
NVIDIA_EMBEDDING_BASE_URL=https://integrate.api.nvidia.com/v1
YTDLP_COOKIES_FROM_BROWSER=chrome
